@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    background-color: #E1EDE6;

}

.header__row {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.7s;
}

.logo:hover {
    transform: scale(1.04);
}

.logo__text {

    font-weight: 700;
    font-size: 20px;
    color: #598d66;
}

.menu {
    display: flex;
    gap: 60px;

}

.menu__link {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
    list-style: none;
    transition: 0.7s;
}
.menu__link:hover {
    transform: scale(1.04);
}

.banner {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.banner__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: #2c2d35;
}

.banner__title_green {
    color: #598d66;
}

.banner__text {
    padding-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    padding-bottom: 60px;
}

.banner__btn {
    cursor: pointer;
    transition: 0.7s;
    font-weight: 500;
    font-size: 20px;
    color: #598d66;
    border: 1px solid #598d66;
    width: 227px;
    height: 65px;
}

.banner__btn:hover {
    background-color: #D4E8D9;
}

.filter {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: #2c2d35;
}

.filter__btn {
    cursor: pointer;
    background: #d4e8d9;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}

.filter__btn:focus {
    background: #376b44;
    color: #f4f6f5;
}

.btn-hold.btn-alt-color {
    background-color: lightgreen;
}

.filter__btns {
    display: flex;
    gap: 25px;
}

.reproductions__cards {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.reproductions__card {
    box-sizing: border-box;
    padding: 20px;
    background: #e1ede6;
    max-width: 350px;
    height: 730px;
}

.reproductions__card__name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: #86928b;
    padding-top: 20px;
}

.reproductions__card__title {
    padding-top: 10px;
    font-weight: 500;
    font-size: 30px;
    color: #2c2d35;
}

.reproductions__card__material {
    padding-top: 8px;
    font-weight: 500;
    font-size: 18px;
    color: #2c2d35;
}

.reproductions__card__price {
    padding-top: 30px;
    font-weight: 500;
    font-size: 24px;
    color: #598d66;
}

.reproductions__card__btn {
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid #598d66;
    padding: 20px 60px;
    background: transparent;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    color: #598d66;
    transition: 0.7s;
}
.reproductions__card__btn:hover {
    background-color: #D4E8D9;
}

.back_collection {
    background-image: url(./img/pic_background.png);
    background-size: 100%;
    margin-top: 70px;
    padding-bottom: 70px;
    padding-top: 70px;
}

.collection__titles {

    display: flex;
    gap: 20px;
    align-items: center;

}

.collection__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #f4f6f5;
}

.collection__text {
    max-width: 540px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
}

.collection__btn {
    cursor: pointer;
    margin-top: 60px;
    cursor: pointer;
    padding: 20px 60px;
    border: none;
    background: #eedb6d;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
    transition: 0.7s;
}
.collection__btn:hover {
    background: #d9b949;
}


.command {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 70px;
}

.command__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: #2c2d35;
}

.command__text {
    padding-top: 20px;
    max-width: 635px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #2c2d35;
}

.command__textblock {
    padding-top: 70px;
}

.humans {
    padding-top: 20px;
    display: flex;
    gap: 30px;

}

.footer {
    background: #e1ede6;
    height: 168px;
}

.footer__row {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 23px 0px;
    display: flex;
}
.footer__left{
    display: flex;
    flex-direction: column;
    gap: 41px;
    justify-content: space-between;
}
.footer__phone{}
.footer__number{
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
}
.footer__text{
    font-weight: 500;
    font-size: 18px;
    color: #86928b;
}
.footer__menu__li_black{
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
}
.footer__menu__li{
    padding-top: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
}
.footer__menu{
   list-style: none;
}
.messangers{
    display: flex;
    gap: 30px;
}
.footer__text_mini{
    padding-top: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: #86928b;
}